---
import "@cmsp/design-system/styles.css";

import Page from "@/components/page.astro";
import { Button, Logo, Shell } from "@cmsp/design-system";
---

<Page title="Test">
	<Shell header="Header" footer="Footer">
		<div class="flex flex-col gap-6 p-4">
			<div class="flex gap-24">
				<Logo client:load />

				<Logo animate client:load />
			</div>

			<div class="flex gap-4">
				<Button client:load>Primary</Button>
				<Button variant="secondary" client:load>Secondary</Button>
				<Button variant="tertiary" client:load>Tertiary</Button>
				<Button variant="info" client:load>Info</Button>
				<Button variant="success" client:load>Success</Button>
				<Button variant="warning" client:load>Warning</Button>
				<Button variant="error" client:load>Error</Button>
				<Button variant="ghost" client:load>Ghost</Button>
			</div>

			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>
			<Button variant="outline" client:load>Outline</Button>

			<div class="flex items-end gap-4">
				<Button size="xl" client:load>Extra Large</Button>
				<Button size="lg" client:load>Large</Button>
				<Button client:load>Default</Button>
				<Button size="icon" client:load>Icon</Button>
				<Button size="sm" client:load>Small</Button>
			</div>

			<div class="flex flex-col gap-4">
				<p>Parágrafo</p>
				<p class="text-muted-foreground">Parágrafo muted</p>
			</div>
		</div>
	</Shell>
</Page>
