---
import "@cmsp/design-system/index.css";
import { Button } from "@cmsp/design-system";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Button client:load>Click me</Button>
	</body>
</html>
