/* Open Color (v1.9.1) - RGB */

:root {
	/*  General
	 *  ─────────────────────────────────── */

	--oc-white: 255 255 255;

	--oc-black: 0 0 0;

	/*  Gray
	 *  ─────────────────────────────────── */

	--oc-gray-0: 248 249 250;

	--oc-gray-1: 241 243 245;

	--oc-gray-2: 233 236 239;

	--oc-gray-3: 222 226 230;

	--oc-gray-4: 206 212 218;

	--oc-gray-5: 173 181 189;

	--oc-gray-6: 134 142 150;

	--oc-gray-7: 73 80 87;

	--oc-gray-8: 52 58 64;

	--oc-gray-9: 33 37 41;

	/*  Red
	 *  ─────────────────────────────────── */

	--oc-red-0: 255 245 245;

	--oc-red-1: 255 227 227;

	--oc-red-2: 255 201 201;

	--oc-red-3: 255 168 168;

	--oc-red-4: 255 135 135;

	--oc-red-5: 255 107 107;

	--oc-red-6: 250 82 82;

	--oc-red-7: 240 62 62;

	--oc-red-8: 224 49 49;

	--oc-red-9: 201 42 42;

	/*  Pink
	 *  ─────────────────────────────────── */

	--oc-pink-0: 255 240 246;

	--oc-pink-1: 255 222 235;

	--oc-pink-2: 252 194 215;

	--oc-pink-3: 250 162 193;

	--oc-pink-4: 247 131 172;

	--oc-pink-5: 240 101 149;

	--oc-pink-6: 230 73 128;

	--oc-pink-7: 214 51 108;

	--oc-pink-8: 194 37 92;

	--oc-pink-9: 166 30 77;

	/*  Grape
	 *  ─────────────────────────────────── */

	--oc-grape-0: 248 240 252;

	--oc-grape-1: 243 217 250;

	--oc-grape-2: 238 190 250;

	--oc-grape-3: 229 153 247;

	--oc-grape-4: 218 119 242;

	--oc-grape-5: 204 93 232;

	--oc-grape-6: 190 75 219;

	--oc-grape-7: 174 62 201;

	--oc-grape-8: 156 54 181;

	--oc-grape-9: 134 46 156;

	/*  Violet
	 *  ─────────────────────────────────── */

	--oc-violet-0: 243 240 255;

	--oc-violet-1: 229 219 255;

	--oc-violet-2: 208 191 255;

	--oc-violet-3: 177 151 252;

	--oc-violet-4: 151 117 250;

	--oc-violet-5: 132 94 247;

	--oc-violet-6: 121 80 242;

	--oc-violet-7: 112 72 232;

	--oc-violet-8: 103 65 217;

	--oc-violet-9: 95 61 196;

	/*  Indigo
	 *  ─────────────────────────────────── */

	--oc-indigo-0: 237 242 255;

	--oc-indigo-1: 219 228 255;

	--oc-indigo-2: 186 200 255;

	--oc-indigo-3: 145 167 255;

	--oc-indigo-4: 116 143 252;

	--oc-indigo-5: 92 124 250;

	--oc-indigo-6: 76 110 245;

	--oc-indigo-7: 66 99 235;

	--oc-indigo-8: 59 91 219;

	--oc-indigo-9: 54 79 199;

	/*  Blue
	 *  ─────────────────────────────────── */

	--oc-blue-0: 231 245 255;

	--oc-blue-1: 208 235 255;

	--oc-blue-2: 165 216 255;

	--oc-blue-3: 116 192 252;

	--oc-blue-4: 77 171 247;

	--oc-blue-5: 51 154 240;

	--oc-blue-6: 34 139 230;

	--oc-blue-7: 28 126 214;

	--oc-blue-8: 25 113 194;

	--oc-blue-9: 24 100 171;

	/*  Cyan
	 *  ─────────────────────────────────── */

	--oc-cyan-0: 227 250 252;

	--oc-cyan-1: 197 246 250;

	--oc-cyan-2: 153 233 242;

	--oc-cyan-3: 102 217 232;

	--oc-cyan-4: 59 201 219;

	--oc-cyan-5: 34 184 207;

	--oc-cyan-6: 21 170 191;

	--oc-cyan-7: 16 152 173;

	--oc-cyan-8: 12 133 153;

	--oc-cyan-9: 11 114 133;

	/*  Teal
	 *  ─────────────────────────────────── */

	--oc-teal-0: 230 252 245;

	--oc-teal-1: 195 250 232;

	--oc-teal-2: 150 242 215;

	--oc-teal-3: 99 230 190;

	--oc-teal-4: 56 217 169;

	--oc-teal-5: 32 201 151;

	--oc-teal-6: 18 184 134;

	--oc-teal-7: 12 166 120;

	--oc-teal-8: 9 146 104;

	--oc-teal-9: 8 127 91;

	/*  Green
	 *  ─────────────────────────────────── */

	--oc-green-0: 235 251 238;

	--oc-green-1: 211 249 216;

	--oc-green-2: 178 242 187;

	--oc-green-3: 140 233 154;

	--oc-green-4: 105 219 124;

	--oc-green-5: 81 207 102;

	--oc-green-6: 64 192 87;

	--oc-green-7: 55 178 77;

	--oc-green-8: 47 158 68;

	--oc-green-9: 43 138 62;

	/*  Lime
	 *  ─────────────────────────────────── */

	--oc-lime-0: 244 252 227;

	--oc-lime-1: 233 250 200;

	--oc-lime-2: 216 245 162;

	--oc-lime-3: 192 235 117;

	--oc-lime-4: 169 227 75;

	--oc-lime-5: 148 216 45;

	--oc-lime-6: 130 201 30;

	--oc-lime-7: 116 184 22;

	--oc-lime-8: 102 168 15;

	--oc-lime-9: 92 148 13;

	/*  Yellow
	 *  ─────────────────────────────────── */

	--oc-yellow-0: 255 249 219;

	--oc-yellow-1: 255 243 191;

	--oc-yellow-2: 255 236 153;

	--oc-yellow-3: 255 224 102;

	--oc-yellow-4: 255 212 59;

	--oc-yellow-5: 252 196 25;

	--oc-yellow-6: 250 176 5;

	--oc-yellow-7: 245 159 0;

	--oc-yellow-8: 240 140 0;

	--oc-yellow-9: 230 119 0;

	/*  Orange
	 *  ─────────────────────────────────── */

	--oc-orange-0: 255 244 230;

	--oc-orange-1: 255 232 204;

	--oc-orange-2: 255 216 168;

	--oc-orange-3: 255 192 120;

	--oc-orange-4: 255 169 77;

	--oc-orange-5: 255 146 43;

	--oc-orange-6: 253 126 20;

	--oc-orange-7: 247 103 7;

	--oc-orange-8: 232 89 12;

	--oc-orange-9: 217 72 15;
}
